body{
    margin:0;
    font-family:Arial,Helvetica,sans-serif;
    background:#f4f4f4;
}

header{
    background:#0078D7;
    color:white;
    text-align:center;
    padding:30px;
}

.container{
    width:90%;
    margin:auto;
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
    margin-top:30px;
}

.card{
    background:white;
    width:300px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.card h2{
    color:#0078D7;
}

footer{
    margin-top:40px;
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}